

.top-header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: #f9f8f6;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    span{
        font-size: 12px;
        color: #000000;
        font-weight: 300;
        text-align: center;
    }
}


html[dir="ltr"]{
    .top-header span{
        letter-spacing: 2px;
    }
}



 

.overflowHidden{
    overflow: hidden !important;
}

.show-icons .menu-bars {
    display: none;
    background: transparent;
    outline: none !important;
}

.fixall {
    text-decoration: none;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}



  .account-details{
    border-radius: 10px;
    position: absolute;
    text-align: center;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px 20px;
    z-index: 999;
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
    min-width: 125px;
    opacity: 0;
    visibility: hidden;
    transition: all linear .3s;
    li {
        line-height: 30px;
    }
    a{
        color: $main-color;
        font-weight: 300;
        text-transform: capitalize;
        font-size: 14px;
        &:hover{
            text-decoration: none;
        }
      }
      a:first-child{
        margin-bottom: 5px;
      }
  }



.control-section{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    i {
        font-size: 24px;
        color: #000;
        width: 100%;
        display: block;
    }
}
.cart , .favourite , .account-text , .openMySearch {
margin-inline-start: 25px;
}

.cart{
    display: flex;
    justify-content: center;
    align-items: center;
    i{
        transition: all linear .2s;
    }
    &:hover{
        i{
            color: $second-color;
        }
    }
}
.cart div {
    position: relative;
}



.number{
    width: 16px;
    height: 16px;
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 9px;
    font-weight: 700;
    position: absolute;
    top: -5px;
    left: 13px;
}

  .account-text{
    display: flex;
    align-items: center;
    }

    .favourite  i , .account-btn i  {
        transition: all linear .2s;
    }
    .account-btn-color {
        color: $main-color;
    }

    .account-text{
        position: relative;
        display: flex;
        align-items: center;
    }

.openMySearch{
    i{
        transform: rotate(270deg);
    }
}
.closeSearh-btn{
    position: absolute;
    top: 50%;
    inset-inline-end: 40px;
    transform: translateY(-50%);
    
    i{
        font-size: 25px ;
        color: #808080;
    }
} 
.search-holder-input{
    width: 100%;
    height: 100%;
    border-radius: 0;
    padding: 0 70px 0 45px;
    display: flex;
    align-items: center;
    form{
        display: block;
        width: 100%;
    }
}
.search-holder-input input{
    width: 100%;
    color: #000;
    height: 100%;
    display: block;
    padding:0 15px 0 50px;
    outline: none !important;
    transition: all linear 0.3s;
    font-size: 20px;
    border: none;
    &::placeholder{
        font-weight: 500;
        font-size: 25px;
        vertical-align: middle;
        color: #808080;
    }
    }

    // html[dir="rtl"]{
    //     .search-holder-input input{
    //       padding: 0 15px 0 40px ;  
    //     }
    // }
    

.searchButton{
    i{
        font-size: 25px;
    color: #808080;
    transform: rotate(270deg);
    }
}
.search-holder-parent{
    transition: all linear .2s;
    border-bottom: 1px solid #cbcbcb;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 85px;
    padding: 0;
    background-color: #fff;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-25px);
     justify-content: center;
     align-items: flex-start;
    z-index: 10;
 }
 .search-holder{
    width: 100%;
    height: 100%;
     
 }
 


// ******************************************************************************




//  header
html[dir="ltr"]{
    .search-holder input{
        padding: 0 60px 0 10px;
    }
}

.reset-left {
    height: 100vh;
    left: 0;
    top: 0;
    clip-path: circle(139.6% at 9% 15%);
    visibility: visible;
    opacity: 1;
}




header{
    box-shadow: 0 -1px #e3e3e3 inset;
    padding: 20px 0px;
    background-color: #fff;
    transition: all linear .3s;
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    z-index: 15;
}
nav{
    transition: all linear .3s;
    
}


.header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    a{
        display: block;
        width: 100%;
        img{
            width: 178px;
            transition: all linear .3s;
        }
    }
}



nav{
    .nav-ul {
        display: flex;
        justify-content: center;
        align-items: center;
        li:last-child{
            margin-inline-end: 0;
        }
       > li{
            margin-inline-end: 25px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            a{
                font-size: 14px;
                color: #000000;
                font-weight: 300;
                text-transform: uppercase;
                transition: all linear .2s;
                &:hover{
                    color: $second-color;
                }
            }
        }
    }
    
}

.openMySearch{
    margin-inline-start: 0;
}


.openNav-btn{
    display: none !important;
    cursor: pointer;
    i {
        font-size: 28px;
        color: $main-color;
       
    }
}

.barSearchHolder{
    display: none;
}

.closeNav-btn{
    display: none;
    cursor: pointer;
}
.openSearch-btn{
    cursor: pointer;
    i{
        color: $main-color;
        font-size: 23px;
        transform: scaleX(-1);
    }
}
.close-search {
    display: none;
}
.open-nav{
    inset-inline-start: -100% !important;
}

.account-text{
    padding: 10px 0;
    &:hover{
        .account-details{
            opacity: 1;
            visibility: visible;
        }
    }
  }






@include min-768 {
    .close-sec{
        display: none;
    }
    .bars {
        display: none;
    }
   
}





@include min-768{
    .cart , .favourite , .account-text , .openMySearch {
        &:hover{
            i {
                color: $second-color;
            }
        }
    }
    .account-btn{
        &:hover{
            i{
                color: $second-color;
            }
        }
    }
    .account-btn{
        &:hover{
            color: $main-color;
        }
    }
  
    .openSearch-btn{
        display: none !important;
    }
}


@media screen and (min-width : 992px) and (max-width:1200px) {
    .nav-ul > li{
        margin-inline-end: 12px;
    }
    .search-holder-input {
        width: 220px;
    }

} 


@media screen and (min-width: 768px) and (max-width: 992px) {
    .search-holder-input{
        width: 100%;
    }
    
}


@include max-992 {
    .logo{
        position: static;
        transform: none;
        left: unset;
    }
    
    .logo a img {
        width: 140px;
    }
    
    
    }
    
    @include max-768 {
        .search-holder-input input{
            padding: 0 7px 0 50px;
        }
       
        html[dir="rtl"]{
           
            .top-header span {
                font-size: 11px;
            }
        }
        
        .search-holder-input{
            padding: 0 20px 0 20px;
        }
        .search-holder-parent{
            height: 75px;
        }
        .closeSearh-btn{
            inset-inline-end : 23px ;
        }
        .search-holder-input input{
            font-size: 16px;
        }
        .searchButton i , .closeSearh-btn i ,  .search-holder-input input::placeholder{
            font-size: 20px;
        }
        .close-sec{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            button{
                margin-top: 35px;
            }
            i{
                color: #000;
                font-size: 24px;
            }
        }
        html[dir="ltr"] nav {
            clip-path: circle(11.2% at 86% 14%);
          }
          html[dir="ltr"] .reset-left {
            clip-path: circle(121.2% at 86% 14%);
          }
     
        
        .logo {
            img {
                width: 65px;
                max-width: 100%;
            }
        }
       
       
    
    .nav-ul{
        flex-direction: column;
        margin: 55px 0 0 0 !important;
        align-items: center;
    }
    
        .service-order{
            width: 100%;
            justify-content: center;
        }
    
        .cart, .bars, .account-text {
            margin-inline-start: 20px;
        }
    
      
      .search-holder{
        width: 100%;
      }
     
    
        nav{
            overflow-y: auto;
            position: fixed ;
            top: 0 ;
            inset-inline-start: 0%;
            width: 100%;
            height: 100%;
            padding:41px 30px 0 30px;
            background-color: #fff;
            opacity: 0;
            visibility: hidden;
            clip-path: circle(10.9% at 16% 16%);
            transition: 0.4s;
            z-index: 200;
            text-align: center;
           
            .nav-ul > li{
                margin-bottom: 17px;
                margin-inline-end: 0;
                a{
                      display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-size: 18px;
                    &:hover{
                        color: $main-color;
                    }
                    &::after{
                        height: auto;
                    }
                }
            }
        }
        
     
        .nav-ul{
            margin: 50px 0 0 0 !important;
        }
        .favourite{
            display: none;
        }
       
       
        .header-dropdown{
            width: 115px;
            padding: 8px 10px;
        }
        .header-dropdown a{
            font-size: 13px;
        }
       
        .favourite{
            display: none;
        }
        .barSearchHolder{
            display: flex;
            align-items: center;
            .openSearch-btn{
                margin-inline-end: 10px;
            }
        }
       
        html[dir=ltr] .nav-ul > li a{
            font-size: 17px;
        }
     
        .openSearch-btn{
            display: flex !important;
            justify-content: center;
            align-items: center;
        }
        nav{
            padding: 25px 20px 0 20px;
        }
        
        header{
            padding: 10px 0;
        }
        
    .showSearch-box{
        display: flex !important;
     }
        .icon-rotate::after{
            transform:  rotate(180deg)  !important;
        }
       
        .logo{
            a img{
                width: 90px;
                max-width: 100%;
            }

        }
         .header-content{
            position: relative;
            width: 100%;
        }
        .openNav-btn{
            display: flex !important;
            align-items: center;
            justify-content: center;
        }
        .banner-overlay{
            display: none;
        }
      
     
       
        .closeNav-btn{
          display: block;
            i{
                font-size: 24px;
                color: $main-color;
                width: 100%;
                height: 100%;
                display: block;
            }
        }
        .close-search{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
      
       
    }
    