
  
.logo a  .logo-img-big{
    width: 145px;
}

.overflow-hidden-body {
  overflow: hidden;
}


  .showToTop{
    opacity: 1;
    visibility: visible;
  }

  .fixed{
    padding: 10px 0;
    backdrop-filter: saturate(180%) blur(10px);
    background-color: rgba(255, 255, 255, 0.7);
  }



  @include max-768 {
    .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl{
      padding-right: 20px;
      padding-left: 20px;
    }
    .toTop{
      right: 20px;
      bottom: 20px;
    }
   
  }
